@import '../../scss/variables';

.home-form{
    min-height: 80vh;
}

form {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
    input{
        background: $secondary;
        width: 280px;
        height: 30px;
        border-radius: $base-border-radius;
    }
    button {
        border: $base-border-thickness solid $dark;
        border-radius: $base-border-radius;
        background-color: transparent;
        cursor: pointer;
        &:hover{
            background-color: $dark;
            color: $light;
        }
    }
    .btn-dark{
        border: $base-border-thickness solid $light;
        border-radius: $base-border-radius;
        background-color: transparent;
        cursor: pointer;
        color: $light;
        &:hover{
            background-color: $light;
            color: $dark;
        }
    }
}