.theme-selector{
    justify-content: flex-end;
    align-items: center;
}

.theme-buttons div{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.mode-toggle {
    margin-right: auto;
}

.mode-toggle img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }